// Colors
$off-white: #F5F5F5;
$off-black: #2f2f2f;
$purple: #1e063c;
$grey: #999;
$dark-grey: #424242;
$bright-green: #adff2f;
$soft-red: #ff6666;
$light-blue: #1b58b3;
$base-font-color: $off-white;

// Spacing
$s-size: 0.6rem;
$m-size: 0.8rem;
$ml-size: 1.2rem;
$l-size: 1.6rem;
$xl-size: 2.4rem;
$desktop-breakpoint: 25rem;

// $s-size: 1.2rem;
// $m-size: 1.6rem;
// $ml-size: 2.4rem;
// $l-size: 3.2rem;
// $xl-size: 4.8rem;
// $desktop-breakpoint: 45rem;

// Fonts
$main-font: "Montserrat", sans-serif;
